<p>
  <h1><%= @recipe.name %></h1>
</p>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= gravatar_for@recipe.chef, size: 150 %>
    <p>Brought to you by: <%= @recipe.chef.chefname %></p>
  </div>
</div>