<div class="jumbotron center bg">
  <h1 class="center">Welcome to my new site</h1>
  <h2 class="center">Hope you enjoy it.</h2>
  <!-- <img src="https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?dpr=0.33&fit=crop&fm=jpg&h=700&q=75&w=1075"> -->
</div> <!-- jumbotron -->


<div class="row">
  <div class="col-md-4">
    <h1>Hi</h1>
    <h2>Welcome</h2>
    <a href="#">Register</a>
  </div>
  <div class="col-md-4">
    <h1>Hello</h1>
    <h2>Welcome</h2>
    <a href="#">Login</a>
  </div>
  <div class="col-md-4">
    <h1>Greetings</h1>
    <h2>Welcome</h2>
    <a href="#">View Recipes</a>
  </div>
</div>