// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.bg {
  background-image: url("https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?dpr=0.33&fit=crop&fm=jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  
}